body {
  background-color: #0b3d2e;
  font-family: "Lucida console", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 80px;
  color: #27ae60;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 30px;
  color: white
}